[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
python-dotenv = "*"
requests2 = "*"
pandas = "*"
lxml = "*"
beautifulsoup4 = "*"
selenium = "*"
simplejson = "*"

[dev-packages]
mypy = "*"

[requires]
python_version = "3.8"
